extends layout

block content
  h1= title
  p Welcome to #{title} , Here you can do the following task
  p ...
  p Get all movie list - /allmovies
  p Search a movie - /search/movieName
  p Add a new movie by name - /add/movieName
  p Modify any movie key  - /modify/movieName/propertyToChange/value
  p Delete any movie  - /delete/movieName
